@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    
}
:root{
    --clr-header: rgba(49,49,49,1);
    --clr-dark-blue:rgba(75,127,156,1);
    --clr-blue:rgba(64,119,202,1);
    --clr-skillls: rgba(238,238,238,1);
    --clr-black:rgba(0,0,0,1);
    --clr-gray:rgba(196,196,196,1);
    --clr-text-desc:rgba(225,233,238,1);
    --clr-shadow-desc:rgba(25,29,31,0.72); /*72%*/
    --light :300;
    --regular :400;
    --bold : 600;

}
body {
    background-color: skyblue;
}

header{
    background-color: var(--clr-header);
    font-family: 'Ubuntu', sans-serif;
    font-weight: var(--regular);
}


.nav{
    display: flex;
    text-decoration: none;
    color: inherit;
    flex-direction: row;
    justify-content: flex-end;
    
}

.nav__link{
    color: var(--clr-skillls);
    text-decoration: none;
    padding: 0.75em;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (4,1fr);
    color: var(--clr-text-desc);
    font-family: 'Ubuntu', sans-serif;
    background-image:url(../images/home.png);
    background-size: cover;
    width: 100wh;
    height: 95vh;  

}
.title {
    grid-column: 2;
    grid-row: 3;
    font-size: 9rem;
    align-self: end; 
}


.description {
    background-color: var(--clr-shadow-desc);
    grid-column: 2;
    grid-row: 4;
    width: 50%;
    height: 90%;
    font-size: 1.5rem;
    padding: 0.5rem;
}


.about{
    margin: 0 auto;
    /*width: 100%;
    max-width: 1200px;*/
    background-color: var(--clr-dark-blue);
    display: grid;
    grid-template-columns: [port-start] 1fr [photo-start] minmax(15em, 1fr)
                            [name-start] minmax(15em, 1fr ) [photo-end] minmax(30em,2fr) [port-end];
    grid-template-rows: repeat(2,1fr);
    height: 70vh;
}

.photo {
    background-color: whitesmoke;
    grid-column: photo / photo;
    grid-row: 1 ;
    width: 50%;
    /*max-width: 1200px;*/
    height: 100%;
    padding: 2rem;
    margin: 0 auto;
}

.name {
    grid-column: name / name;
    grid-row: 1;
    font-size: 2rem;
    align-self: end;
}

.about__description {
    background-color: khaki;
    grid-column: photo-start / name-end;
    grid-row: 2;
    font-size: 1rem;
    max-width: 600px;
    min-width: 100px;
    
}
